### Importing the Libraries

In [1]:
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath(".."))
import utils
from utils import helper_functions as utils

In [2]:
# EDVIN'S COMMENT
# 'from utils import helper_functions as utils' overwrites the earlier import
# thus 'import utils' in redundant, can be safely removed
# you can also choose any short name you like, for example
# 'from utils import helper_functions as hf'

import os
import sys
import pandas as pd

sys.path.append(os.path.abspath('..'))
from utils import helper_functions as hf

### Uploading the Data

In [3]:
filepath = '../data/events.csv' 
data = pd.read_csv(filepath) 
df = data.copy()

In [4]:
# EDVIN'S COMMENT
# looks good!
# a minor comment is that you don't have to create a copy of the dataframe
# best only do that only if you need to keep the original import unmodified
# which is sometimes indeed very useful! just be mindful if the dataframe is
# very large, as it would take up double the memory
# also, df.head() is very handy!
# I personally like to always use it immediately after every dataframe import

filepath = '../data/events.csv' 
df = pd.read_csv(filepath) 
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-09-24 11:57:06 UTC,view,1996170,2144415922528452715,electronics.telephone,NaN,31.90,1515915625519388267,LJuJVLEjPT
1,2020-09-24 11:57:26 UTC,view,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY
2,2020-09-24 11:57:27 UTC,view,215454,2144415927158964449,NaN,NaN,9.81,1515915625513238515,4TMArHtXQy
3,2020-09-24 11:57:33 UTC,view,635807,2144415923107266682,computers.peripherals.printer,pantum,113.81,1515915625519014356,aGFYrNgC08
4,2020-09-24 11:57:36 UTC,view,3658723,2144415921169498184,NaN,cameronsino,15.87,1515915625510743344,aa4mmk0kwQ

Basic check on the what the data is and how it looks like

In [5]:
utils.view_data(df)

Data has 885129 rows and 9 columns with these data types:

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

Data row sample and full columns:

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
683838,2021-01-26 10:03:10 UTC,view,4085921,2144415921588928594,auto.accessories.gps,navitel,75.29,1515915625597277123,UNHkdOS8vn
289517,2020-11-16 07:37:35 UTC,view,303809,2144415930816397635,NaN,kw-trio,121.10,1515915625539918957,cnBqPqBYZU
161112,2020-10-27 08:39:55 UTC,view,4078772,2144415933794353554,NaN,swat,91.60,1515915625531039646,hcyNit9Ryr
404680,2020-12-06 22:42:21 UTC,purchase,4078407,2144415926966026460,computers.components.cpu,amd,365.38,1515915625550039142,K4AXhN3qNL
808219,2021-02-15 11:13:08 UTC,view,1756531,2144415925196030129,electronics.telephone,digma,86.67,1515915625605629547,x3nF7eQZxj

In [6]:
# EDVIN'S COMMENT
# check out these built-in methods!
# you can also see types and non-nan counts

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885129 entries, 0 to 885128
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     885129 non-null  object
 1   event_type     885129 non-null  object
 2   product_id     885129 non-null  int64
 3   category_id    885129 non-null  int64
 4   category_code  648910 non-null  object
 5   brand          672765 non-null  object
 6   price          885129 non-null  float64
 7   user_id        885129 non-null  int64
 8   user_session   884964 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 60.8+ MB

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-09-24 11:57:06 UTC,view,1996170,2144415922528452715,electronics.telephone,NaN,31.90,1515915625519388267,LJuJVLEjPT
1,2020-09-24 11:57:26 UTC,view,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY
2,2020-09-24 11:57:27 UTC,view,215454,2144415927158964449,NaN,NaN,9.81,1515915625513238515,4TMArHtXQy
3,2020-09-24 11:57:33 UTC,view,635807,2144415923107266682,computers.peripherals.printer,pantum,113.81,1515915625519014356,aGFYrNgC08
4,2020-09-24 11:57:36 UTC,view,3658723,2144415921169498184,NaN,cameronsino,15.87,1515915625510743344,aa4mmk0kwQ

checking for duplications as well as empty or empty string rows

In [7]:
utils.check_data(df)

There are 655 duplicate rows, 448748 empty rows and 0 empty spaces
Duplicate Rows:
                     event_time event_type  product_id          category_id  \
511     2020-09-24 13:51:07 UTC       view      387956  2144415922427789416
512     2020-09-24 13:51:07 UTC       view      387956  2144415922427789416
974     2020-09-24 15:48:55 UTC       view      874667  2144415922738167921
975     2020-09-24 15:48:55 UTC       view      874667  2144415922738167921
4827    2020-09-25 13:15:09 UTC       view      453469  2144415924222951574
...                         ...        ...         ...                  ...
878751  2021-02-27 17:56:05 UTC       view     1571204  2144415924491387038
879544  2021-02-27 20:54:20 UTC       view     1027953  2144415923837075596
879545  2021-02-27 20:54:20 UTC       view     1027953  2144415923837075596
882715  2021-02-28 14:18:02 UTC       view     4078916  2144415922427789416
882716  2021-02-28 14:18:02 UTC       view     4078916  2144415922427789416

                           category_code     brand   price  \
511      computers.components.videocards      asus  104.21
512      computers.components.videocards      asus  104.21
974            computers.components.cdrw      asus   23.48
975            computers.components.cdrw      asus   23.48
4827         auto.accessories.parktronic       NaN   69.84
...                                  ...       ...     ...
878751  computers.components.motherboard      asus  146.40
879544        electronics.audio.acoustic       jbl  332.87
879545        electronics.audio.acoustic       jbl  332.87
882715   computers.components.videocards  sapphire  415.54
882716   computers.components.videocards  sapphire  415.54

                    user_id user_session
511     1515915625519429853   PZu2caZ5EN
512     1515915625519429853   PZu2caZ5EN
974     1515915625519457150   8wvs0vbHtv
975     1515915625519457150   8wvs0vbHtv
4827    1515915625519725870   9ofICyh8Eo
...                     ...          ...
878751  1515915625610505518   EUqy2lyCvY
879544  1515915625529755153   3mD3HIQ017
879545  1515915625529755153   3mD3HIQ017
882715  1515915625610828170   21hX1rWtum
882716  1515915625610828170   21hX1rWtum

[1284 rows x 9 columns]
NaN Rows:
26.69% of NaNs in the category_code column
23.99% of NaNs in the brand column
0.02% of NaNs in the user_session column

In [8]:
# Drop rows with NaN values
df = df.dropna()

# Drop duplicated rows
df = df.drop_duplicates()

# Display the updated dataframe shape
df.shape

(515855, 9)

making sure the dataset is clean

In [9]:
utils.check_data(df)

There are 0 duplicate rows, 0 empty rows and 0 empty spaces

EDVIN'S COMMENT

some questions I would ask here:
- why do we have duplicates in the data?
  - do they mean anything?
  - is it safe to drop duplicates?
  - if the data has some unique `ID` then most likely it is safe to drop data if that `ID` repeats
  - however, I'm not so sure in this case - it is possible that on occasion some user will generate an event for the same product at the same time (seconds match)
- similarly, for `nan` values, you can see that that 3 columns have `nans`
  - of them, 2 columns have quite some, so if you were to drop them entirely, you would loose a lot of data, is that data important?
  - for example (not the case in with this data), it could be possible that `price` column is only filled for purchase events and missing for all other events, so if you dropped all data with `nans` then you would be left with only purchase events
  - tiny fraction of `user_session` is also missing data, that's likely an error, still best inspect it!

Generally, I would only drop data if I have a very good reason to. If not, I would just continue the analysis as usual and treat the missing data as a category of it's own (or in the case of duplicates, if you have no reason to suspect data errors then treat it as normal data).

# EDA

In [10]:
target = df.pop('event_type')
df['event_type'] = target

In [11]:
# EDVIN'S COMMENT
# I believe the code above doesn't do much - you first remove the column then put it back.
# More generally, is it the `event_type` you care about here? or perhaps you are rather interested whether views turn into purchases?
# See the code below how to construct such a dataframe, there you could set the count as the target
# alternatively, you could just convert the count value to binary 0/1 to just predict if a purchase happen (not how many were bought)
# you can have even more complex formulations of the problem, for example not limitting the view-to-purchase funnel to individual sessions
# instead you could perhaps combine sessions if they were close to one another in time or perhaps drop sessions entirely and look at dates or users
# no right approach, depends on what you want to model

views_df = df[df['event_type'] == 'view']

purchases_df = df[df['event_type'] == 'purchase']
purchases_df = purchases_df.groupby(['user_session', 'product_id']).size().reset_index(name='purchase_count')

views_with_purchases_df = views_df.merge(purchases_df, on=['user_session', 'product_id'], how='left')
views_with_purchases_df['purchase_count'] = views_with_purchases_df['purchase_count'].fillna(0)
views_with_purchases_df.head()

,event_time,product_id,category_id,category_code,brand,price,user_id,user_session,event_type,purchase_count
0,2020-09-24 11:57:26 UTC,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY,view,0.0
1,2020-09-24 11:57:33 UTC,635807,2144415923107266682,computers.peripherals.printer,pantum,113.81,1515915625519014356,aGFYrNgC08,view,0.0
2,2020-09-24 11:57:59 UTC,664325,2144415951611757447,construction.tools.saw,carver,52.33,1515915625519388062,vnkdP81DDW,view,0.0
3,2020-09-24 11:58:24 UTC,716611,2144415923694469257,computers.network.router,d-link,53.14,1515915625519388882,kVBeYDPcBw,view,0.0
4,2020-09-24 11:58:31 UTC,716611,2144415923694469257,computers.network.router,d-link,53.14,1515915625519388929,F3VB9LYp39,view,0.0

In [12]:
df.dtypes

event_time        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
event_type        object
dtype: object

From looking at the datatypes, we should convert the event_time into a datatime format

In [13]:
df['event_time'] = pd.to_datetime(df['event_time'])

Furthermore, we are checking how many unique entries we have per row

In [14]:
df.nunique()

event_time       501143
product_id        24255
category_id         260
category_code       104
brand               728
price              9478
user_id          224971
user_session     273421
event_type            3
dtype: int64

The numer of rows per event_type:

In [15]:
df.event_type.value_counts()

view        458082
cart         34668
purchase     23105
Name: event_type, dtype: int64

Event Type will be our target column. What we see here is a huge class imbalance. We will need to take care of that before starting the models.

EDVIN'S COMMENT

Class imbalance is annoying. But it's not something we neccesarily need to fix. Simply put there aren't any really good ways to fix the problem. The data is just that - very imbalanced but true.

One of popular approaches that people do is to drop some examples from the majority class to even out the balance. The problem here is that if you train a model on this new data, your predictions will be miscalibrated (sounds familiar? that's exactly the problem with ERP). One of the primary reasons we drop some of the majority class data at Remerge is because there is just sooooo much data that models would take quite a long time to train, so instead of downsampling the data everywhere, we keep the minority class (conversions) but downsample only the negative class (impressions that did not turn into conversions). This cuts down on the training data but introduces calibration problems that we need to fix later on.

Generally speaking, I would be careful with fixing class imbalance. This is certainly something you could look into and this mayyyy even improve the models performance slightly, but this is certainly not something that you should do by default.

The number of unique users per event_type

In [16]:
df.groupby('event_type')['user_id'].nunique()

event_type
cart         23158
purchase     13041
view        224741
Name: user_id, dtype: int64

Creating a dataframe of only purchasers

In [17]:
purchasers = df[df['event_type'] == 'purchase'][['user_id']].drop_duplicates()
purchasers_all_events = df[df['user_id'].isin(purchasers['user_id'])]
purchasers_all_events.head()

,event_time,product_id,category_id,category_code,brand,price,user_id,user_session,event_type
34,2020-09-24 12:02:34+00:00,1507291,2144415926806642904,computers.components.power_supply,supermicro,217.57,1515915625519390468,UzabYgCPva,view
37,2020-09-24 12:02:53+00:00,1507291,2144415926806642904,computers.components.power_supply,supermicro,217.57,1515915625519390468,UzabYgCPva,cart
42,2020-09-24 12:03:17+00:00,1507291,2144415926806642904,computers.components.power_supply,supermicro,217.57,1515915625519390468,xn6SHCnZtk,view
45,2020-09-24 12:04:10+00:00,1507291,2144415926806642904,computers.components.power_supply,supermicro,217.57,1515915625519390468,xn6SHCnZtk,purchase
70,2020-09-24 12:12:06+00:00,822426,2144415922360680550,computers.peripherals.camera,logitech,123.35,1515915625513574486,2gngxS29Ts,view

EDVIN'S COMMENT

Nice! You could formulate your problem where you are trying to predict whether a user is a purchaser!

The average number of events per user per event_type

In [18]:
mean_event_type_per_user = df.groupby(['user_id', 'event_type']).size().groupby('event_type').mean()
mean_event_type_per_user

event_type
cart        1.497020
purchase    1.771720
view        2.038266
dtype: float64

In [19]:
# EDVIN'S COMMENT
# Interesting! How come on average there are more `purchase` than `cart` events?
# Your code is correct but it might not be doing what you expect it to
# It is counting average events for those users that produced those events
# In other words if a user didn't purchase, it is not included in the average you calculated above

n_unique_users = df['user_id'].nunique()
n_all_purchase_events = df[df['event_type'] == 'purchase'].shape[0]
n_all_purchase_events / n_unique_users

0.10270212605180223

The earliest and latest time of the dataset

In [20]:
df.event_time.min(), df.event_time.max()

(Timestamp('2020-09-24 11:57:26+0000', tz='UTC'),
 Timestamp('2021-02-28 23:59:09+0000', tz='UTC'))

In [21]:
df['event_time'] = pd.to_datetime(df['event_time'])  
df['month'] = df['event_time'].dt.to_period('M')  

columns_per_month = df.groupby('month').size()
columns_per_month

/var/folders/4r/_q13gkk57sd4qkjtdnjjcdwm0000gp/T/ipykernel_30463/4068471165.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['month'] = df['event_time'].dt.to_period('M')

month
2020-09     15387
2020-10     88849
2020-11    106635
2020-12     88490
2021-01    115234
2021-02    101260
Freq: M, dtype: int64

In [22]:
df.groupby(['month', 'event_type']).size()

month    event_type
2020-09  cart             834
         purchase         588
         view           13965
2020-10  cart            5123
         purchase        3659
         view           80067
2020-11  cart            6459
         purchase        4544
         view           95632
2020-12  cart            5873
         purchase        3961
         view           78656
2021-01  cart            8652
         purchase        5415
         view          101167
2021-02  cart            7727
         purchase        4938
         view           88595
dtype: int64